**/__pycache__/
**/venv/
.pg_socket/
data_collection/
orderbook_collection/contracts.txt
orderbook_collection/collection_out.log
orderbook_collection/monitor.log
orderbook_collection/test/
data_analysis/event_partition_asset_agg
data_analysis/server_book_agg
polygon_collection/*.png
polygon_collection/*.csv

polygon_collection/collect_events.log